body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;

    > div {
        width: 100%;
    }
}

.navbar {
    display: flex;

    ul {
        margin-left: auto;
        display: flex;
        list-style: none;

        li {
            padding: 10px;
        }
    }
}

.selected-nav{
    background: lightcoral;
}

.news {
    display: grid;
    justify-items: center;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.newsObject {
    max-width: 400px;
    border: 3px solid lightgreen;
    border-radius: 20px;
    padding: 10px;

    &:hover{
        transform: scale(115%);
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        background: white;
    }
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background: lightskyblue;
    color: blueviolet;

    p {
        text-wrap: nowrap;
        overflow: hidden;
    }
}